html,
body {
  height: 100%;
  overflow: hidden;
  font-family: Roboto, sans-serif; }

.navigationHead {
  width: 100%;
  height: 250px; }

.mainContent {
  width: 100%; }

.mainItem {
  max-width: 600px; }
